body {
    background-image: url('https://farm8.staticflickr.com/7738/18078262162_74fbc8bce7_k_d.jpg');
    background-position: center center;
    background-attachment: fixed;
}

.mdl-card {
    background-color: rgba(255, 255, 255, 0.9);
}

.mdl-textfield {
    width: 100%;
}

.word-result {
    font-size: 2em;

    > * {
        vertical-align: top;
    }

    .pronoun {
        color: rgb(233, 30, 99);
    }

    .conjugated {
        color: rgb(76, 175, 80);
    }

    .infinitive {
        color: rgb(96, 125, 139);
    }

    .stem {
        color: rgb(63, 81, 181);
    }

    .personal-ending {
        color: rgb(0, 150, 136);
    }

    .transforms {
        .text, .description {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            margin-top: 12px;
            font-size: 0.5em;
        }
    }
}
