body {
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.mdl-card {
    background-color: rgba(255, 255, 255, 0.9);
    .mdl-card__title-text {
        width: 100%;
        div {
            width: inherit;
        }
    }
}

.mdl-textfield {
    width: 100%;
}

.rule-name {
    float: right;
}

.word-result {
    > * {
        vertical-align: top;
    }

    .pronoun {
        color: rgb(233, 30, 99);
    }

    .conjugated {
        text-align: center;
        color: rgb(76, 175, 80);
        line-height: 2em;
        font-size: 2em;
    }

    .infinitive {
        color: rgb(96, 125, 139);
    }

    .stem {
        color: rgb(63, 81, 181);
    }

    .consonant-gradation {
        color: rgb(156, 39, 176);
    }

    .vowel-addition {
        color: rgb(255, 87, 34);
    }

    .personal-ending {
        color: rgb(0, 150, 136);
    }

    .transforms {
        .text, .description {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            margin-top: 12px;
        }
    }
}
