.word-result {
    font-size: 2em;

    > * {
        vertical-align: top;
    }

    .pronoun {
        color: red;
    }

    .stem {
        color: blue;
    }

    .personal-ending {
        color: green;
    }

    .word-part {
        display: inline-block;
        max-width: 20%;

        .description {
            font-size: 0.5em;
            color: initial;
        }
    }
}
